.App {
  font-family: sans-serif;
}

.item {
  width: 200px;
  height: 300px;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 7px black;
  background-color: white;
}

img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.meta {
  padding: 0 10px;
}

.top-level {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.btn {
  display: flex;
  justify-content: space-around;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
}
